<?xml version="1.0"?>
<config>
    <modules>
        <DV_DPI>
            <version>1.0.1</version>
        </DV_DPI>
    </modules>
    <global>
        <models>
            <dpi>
                <class>DV_DPI_Model</class>
                <resourceModel>dpi_resource</resourceModel>
            </dpi>
            <dpi_resource>
                <class>DV_DPI_Model_Resource</class>
                <entities>
                    <attributeList>
                        <table>dpi_attribute_list</table>
                    </attributeList>
                </entities>
            </dpi_resource>
        </models>
        <blocks>
            <dpi>
                <class>DV_DPI_Block</class>
            </dpi>
        </blocks>
        <helpers>
            <dpi>
                <class>DV_DPI_Helper</class>
            </dpi>
        </helpers>
        <resources>
            <dpi_setup>
                <setup>
                    <module>DV_DPI</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </dpi_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <dpi>
                <use>standard</use>
                <args>
                    <module>DV_DPI</module>
                    <frontName>dpi</frontName>
                </args>
            </dpi>
        </routers>
        <layout>
            <updates>
                <dpi>
                    <file>dpi.xml</file>
                </dpi>
            </updates>
        </layout>
        <translate>
            <modules>
                <DV_DPI>
                    <files>
                        <default>DV_DPI.csv</default>
                    </files>
                </DV_DPI>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <dpi>
                    <file>dpi.xml</file>
                </dpi>
            </updates>
        </layout>
        <translate>
            <modules>
                <DV_DPI>
                    <files>
                        <default>DV_DPI.csv</default>
                    </files>
                </DV_DPI>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <dpi>
                <use>admin</use>
                <args>
                    <module>DV_DPI_Adminhtml</module>
                    <frontName>dpi</frontName>
                </args>
            </dpi>
        </routers>
    </admin>
</config>